.ques-container {
  padding: 20px 20px;
}
.tophead {
  font-size: 13px;
  margin-bottom: 10px;
  color: darkgray;
}
.head {
  font-size: 17px;
  font-family: "Times New Roman", Times, serif;
}
.select-head {
  font-size: 13px;
  padding: 10px 6px;
}
