.ques-container {
  padding: 20px 20px;
}
.tophead {
  font-size: 13px;
  margin-bottom: 10px;
  color: darkgray;
}
.head {
  font-size: 17px;
  font-family: "Times New Roman", Times, serif;
  margin-left: 14px;
  margin-top: 10px;
}
.select-head {
  font-size: 13px;
  padding: 10px 6px;
  margin-top: 10px;
}
.examsheet {
  margin-top: 20px;
  padding: 20px 20px;
  height: 80vh;
  border: 1px solid darkgrey;
}
