.marks {
  text-decoration: underline;
}
.quesContainer {
  display: flex;
  flex-direction: column;
  padding: 20px 20px;
  gap: 20px;
}
input {
  padding: 7px 44px;
  margin-top: 7px;
  text-indent: 0px;
}
