.marks {
  text-decoration: underline;
}
.quesContainer {
  display: flex;
  flex-direction: column;
  padding: 20px 20px;
  gap: 20px;
}
input,
button {
  padding: 7px 44px;
  margin-top: 7px;
  text-indent: 0px;
  border: 2px solid black;
}
input.correct {
  border: 2px solid green;
}
input.incorrect {
  border: 2px solid red;
}
.numSelect {
  padding: 7px 7px;
}
.answerKey {
  padding: 20px 20px;
}
